<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Travel Planner</title>
	</head>

	<body>
		<header>
			<div class="">Travel Planner</div>
			<!-- <div class="">navigation</div> -->
		</header>

		<main>
			<section>
				<form id="form">
					<label for="destination">Destination</label>
					<input
						type="text"
						placeholder="Destination"
						name="destination"
						id="destination"
						required
					/>
					<label for="destinationDate">Departing on:</label>
					<input type="date" name="departing-date" id="destinationDate" />
					<label for="returningDate">Returning on:</label>
					<input type="date" name="returning-date" id="returningDate" />
					<input type="submit" name="" value="submit" />
				</form>
			</section>

			<section id="result-section" class="modal">
				<div class="result-container modal-content">
					<div class="result-left">
						<img id="destination-img" src="#" alt="destination-img" />
					</div>
					<div class="result-right">
						<h2 class="destination-text">
							Destination:
							<span id="city" class="result-underline"></span>
						</h2>
						<h2 class="departing-date">
							Departing on:
							<span id="departing-date" class="result-underline"
								>DD/MM/YYYY</span
							>
						</h2>
						<h2 class="returning-date">
							Returning on:
							<span id="returning-date" class="result-underline"
								>DD/MM/YYYY</span
							>
						</h2>
						<h2 class="trip-length">
							Length of your trip:
							<span id="trip-length" class="result-underline">XX days</span>
						</h2>
						<h2 class="destination-countdown">
							This trip is
							<span id="days-left" class="result-underline"></span>
							days away
						</h2>
						<h2 class="local-weather">
							Typical weather for then is:
							<span id="destination-weather" class="result-underline"></span>
							<span id="destination-temperature-high" class="result-underline"
								>High:
							</span>
							&#176; C
							<span id="destination-temperature-low" class="result-underline"
								>Low:
							</span>
							&#176; C
						</h2>

						<div class="result-btn-container">
							<a id="close-btn" href="#">Done</a>
							<a id="save-btn" href="#">Save</a>
						</div>
					</div>
				</div>
			</section>

			<section class="cards"></section>
		</main>

		<footer class="footer">
			<p>Copyright 2022</p>
		</footer>

		<!-- <script>
			// Check that service workers are supported
			if ('serviceWorker' in navigator) {
				// Use the window load event to keep the page load performant
				window.addEventListener('load', () => {
					navigator.serviceWorker.register('/service-worker.js');
				});
			}
		</script> -->
	</body>
</html>
