.btn {
	border: none;
	color: #fff;
	padding: 10px;
	text-transform: capitalize;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}
.btn-primary {
	background-color: rgb(29, 155, 240);
}
.btn-gray {
	background-color: #ccc;
}
