.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 8% auto;
	width: 80%;
	display: flex;
	align-items: center;
	line-height: 1.6;
}
.result-left {
	width: 50%;

	img {
		width: 100%;
		height: auto;
	}
}
.result-right {
	padding: 20px;
}
@media (max-width: 767px) {
	.modal-content {
		flex-direction: column;
		line-height: 1.2;
	}
	.result-left {
		padding-top: 10px;
	}
}
