.container {
	max-width: 80vw;
	margin: 50px auto;
}
.hero {
	background: url('../assets/bg.jpg') no-repeat;
	padding: 20px 0;
}
.trip-form {
	background-color: rgba(255, 255, 255, 0.5);
}
.result-btn-container {
	margin-top: 20px;
}
